body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 550px;
  background: #fff;
  border: 8px solid white;
  
}

.title {
  background: #e3f4ff;
  padding: 12px 10px;
  margin-top: -0.1px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 22px;
  font-weight: 500;
  padding: 20px 10px;
}

.button-container {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  background: #e3f4ff;
  padding: 10px 5px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 25px;
  
}